body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li::marker{
	display:none !important;
}

/* UI Elements */
.board{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width:100%;
	padding:50px;
}

.tile{
	background-color: #ecf0f1;
	padding:20px 30px;
	margin:1%;
	position: relative;
	color:#2c3e50;
	min-height:268px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.tile h1{
	font-size:18px;
	line-height:19px;
	min-height:38px;
	text-transform: uppercase;
}

.tile h4{
	color: #2c3e50;
	margin-top: 10px;
	text-transform: capitalize;
}

.removeTile{
	display: none;
	position: absolute;
	right: 5px;
	top: 0;
	z-index: 999;
	color: #FF0000;
	line-height:20px;
	cursor: pointer;
}

.tile:hover .removeTile, .tile:hover .changeInterval{
	display: block;
}

.removeTile i{
	font-size:21px;
}

.weatherFrame{
	background-color: #3498db;
	border-radius:100%;
}

.refreshTime{
	background-color: #7f8c8d;
	color:#fff;
	font-size:11px;
	padding:0 10px;
	position:absolute;
	left:0;
	bottom:0;
}

/* Add City Form */
form{
	font-size:18px;
}

input[type='submit']{
	background-color: #2980b9;
	color: #fff;
	border: 0px;
	outline: 0px;
	box-sizing: border-box;
	padding: 0 30px;
	margin:0 5px;
	height: 47px;
}

input[type='submit']:hover{
	background-color: #3498db;
	transition: .5s background-color;
}

input[type="text"], select{
	box-sizing: border-box;
	height:47px;
	padding: 0 10px;
	margin:0 5px;
}

/* Responsive */
@media only screen and (max-width:767px){
	.board{
		flex-direction: column;
	}
	form{
		display:flex;
		flex-direction: column;
		padding-bottom: 60px;
	}
	input[type='submit']{
		margin-top:10px;
	}
}